@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root{
   ---primary-color: white;
   --secondary-color: rgb(24, 182, 255);  
   --third-color: rgb(53, 177, 235);
}

body{
    background-color: var(---primary-color);
}

*{
    font-family: "Comfortaa";
    font-size:4vmin;
    color:rgb(71, 71, 71);
}

.mobileFramework{
  max-width:1080px;
  min-height:100vh;
  margin:auto;
  background-color:rgb(255, 255, 255);
  border-color:black;
  border-style: solid;
  border-color:var(--secondary-color);
  border-width:1px;
  border-radius:25px;
  padding:2.5rem;
}

.mobileFramework h1{
    text-align: center;
}

.content *{
    display: inline-block;
    font-family:'EB Garamond', serif;
    font-style: italic;
    font-size: 6vmin;
    line-height: 14vmin;
    margin: 0 0.15rem;
    cursor: pointer;
}

.controlBoard{
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: fit-content;
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    display: flex;          /* keeps buttons in a row */
    gap: 10px;              /* space between buttons */
}

.controlBoard button{
    color:var(--third-color);
    border-style: solid;
    padding:5px;
    padding-top:2px;
    padding-left:1.7rem;
    padding-right:1.7rem;
    border-color:var(--secondary-color);
    border-radius:25px;
    border-width:1px;
    background-color:var(---third-color);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content #content-word{
    display: inline-block;
    font-family:'EB Garamond', serif;
    font-style: italic;
    font-size: 6vmin;
    line-height: 14vmin;
    margin: 0 0.15rem;
}